{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block content %}
	<div class="container">
		<table class="table table-striped">
			<thead> <tr> <th>Nome</th> <th>Pedidos</th> <th>Telefone</th> </tr> </thead>
			<tbody>
				<tr>
					<td>AJAJA</td>
					<td></td>
					<td class="glyphicon glyphicon-phone"></td>
				</tr>
				<tr>
					<td>AJAJA</td>
					<td></td>
					<td class="glyphicon glyphicon-phone"></td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
